.noticiaBrasil{
    background-color: red;
    font-size: 70px;
    color: white;
    text-align: center;


}
.containerFooter{
    background-color: red;
    font-size: 203px;
    color: white;
    text-align: center;
}